In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/telcom_users_steam.csv')
data.head(5)

,is_increase,age,Gender,Cellphone,Education_Level,Marital_Status,consume,Level,App
0,0,2,M,iPhone,1,Married,32,Blue,5
1,0,2,F,iPhone,2,Single,31,Blue,6
2,0,1,M,iPhone,2,Married,33,Blue,4
3,0,3,M,iPhone,1,Married,32,Blue,5
4,0,2,M,Android,2,Married,32,Blue,3

In [4]:
#自变量
X = data.iloc[:, data.columns != 'is_increase']
#因变量
y = data.iloc[:, data.columns == 'is_increase']

#得到流量增长样本的数量
number_records_fraud = len(data[data.is_increase == 1])

# 得到流量增长样本的索引
fraud_indices = np.array(data[data.is_increase == 1].index)

# 得到所有流量未增长样本的索引
normal_indices = data[data.is_increase == 0].index
normal_indices = np.array(normal_indices)

# 在正常样本中随机采样出指定个数的样本，并取其索引  (参数分别代表： 数据集、个数......)
random_normal_indices = np.random.choice(normal_indices, number_records_fraud, replace = False)
random_normal_indices = np.array(random_normal_indices)

# 有了正常和异常样本后把它们的索引都拿到手,并根据索引拿数据
under_sample_indices = np.concatenate([fraud_indices,random_normal_indices])
under_sample_data = data.iloc[under_sample_indices,:]

X_undersample = under_sample_data.iloc[:, under_sample_data.columns != 'is_increase']
y_undersample = under_sample_data.iloc[:, under_sample_data.columns == 'is_increase']

# 下采样 样本比例
print("正常样本所占整体比例: ", len(under_sample_data[under_sample_data.is_increase == 0])/len(under_sample_data))
print("异常样本所占整体比例: ", len(under_sample_data[under_sample_data.is_increase == 1])/len(under_sample_data))
print("下采样策略总体样本数量: ", len(under_sample_data))

1113
正常样本所占整体比例:  0.5
异常样本所占整体比例:  0.5
下采样策略总体样本数量:  2226

In [5]:
under_sample_data.head()

,is_increase,age,Gender,Cellphone,Education_Level,Marital_Status,consume,Level,App
12,1,6,F,Android,2,Married,31,Blue,2
31,1,1,F,Android,2,Married,31,Blue,2
33,1,1,M,Android,2,Married,33,Blue,1
37,1,2,M,Android,2,Married,32,Silver,2
89,1,1,M,Android,2,Married,33,Blue,3

In [6]:
under_sample_data.to_csv('./data/telcom_users_steam_undersample.csv')